# Секретные ключи и пароли приложения (Критически важно скрыть)
.env

# Локальная база данных (Чтобы не затереть базу преподавателя своей локальной)
trainings.db

# Кэш Python и виртуальное окружение
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/