<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Project Mayhem</title>
    <!-- Подключаем брутальные шрифты -->
    <link rel="stylesheet" href="https://googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=2.0">

</head>
<body>
    <div class="app-wrapper">
        <header class="main-header">
            <h1 class="logo-title">Task Manager</h1>
            <nav class="nav-links">
                <a href="/">Main Page</a>
                <a href="/add" class="btn-new-task">+ New Task</a>
            </nav>
        </header>

        <main class="content-container">
            {% block content %} {% endblock %}
        </main>
    </div>
</body>
</html>
